* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.calculator {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    border: 1px solid #ddd;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.btn {
    background: linear-gradient(to top left, #6a11cb, #2575fc);
    border: none;
    border-radius: 12px;
    font-size: 1.5em;
    color: white;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}

.btn:hover {
    background: linear-gradient(to top left, #2575fc, #6a11cb);
    transform: scale(1.1);
}

.btn:active {
    background: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.btn.operator {
    background: linear-gradient(to top left, #ff5f6d, #ffc3a0);
}

.btn.operator:hover {
    background: linear-gradient(to top left, #ffc3a0, #ff5f6d);
}
